version: '3'
services:
  app:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8080:3000" # O Next.js roda na 3000, mas vamos acessar pela 8080
    command: sh -c "npm install && npm run dev"
    restart: always
