services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
      - NODE_OPTIONS=--max-old-space-size=450
    deploy:
      resources:
        limits:
          memory: 512M
    restart: always

networks:
  default:
    name: gabinetecassia_default
